<!doctype>
<html class="no-js" lang="en"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Express handlebars</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" type="text/css" href="jspm_packages/github/twbs/bootstrap@3.3.7/css/bootstrap.css">    
    <link rel="stylesheet" type="text/css" href="css/customised_bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    {{{_sections.head}}}
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">ET</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/gallery">Gallery</a></li>
            </ul>
        </div>
    </nav>
    {{{body}}}
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
  </body>
</html>