{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
{{/section}}

<section class="main-container">
        <div class="container">
            <div class="row title-container">
                <div class="col-md-12">
                    <h1>Encharted Teardrops</h1>
                </div>
            </div>
            <div class="row jewellery-link-container">
                <div class="col-md-offset-10 col-md-4">
                    <h2>
                        <a href="/gallery">View jewellery &#x2192;</a>
                    </h2>
                </div>
            </div>
        </div>
</section>