{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
{{/section}}

<section class="main-container">
        <div class="title-container">
            <div class="container">
                <h1>Leonida Crafts</h1>
            </div>
        </div>
</section>