body{
    height: 100%;
    width: 100%;
    background: url('/images/homepage_compressed.jpeg') no-repeat center;
    background-size: cover;
}

.title-container{
    margin-top: 10%;
    padding: 28px 0;
//    background: #000;
//    opacity: 0.7;
}

.title-container h1{
    color: #fff;
}

.jewellery-link-container{
    margin-top: 40%;
}

.jewellery-link-container a, 
.jewellery-link-container a:hover{
    text-decoration: none;
}

.jewellery-link-container a{
    color: #fff;
}

.jewellery-link-container a:hover{
    color: purple;
}

