html, body {
  padding: 0;
  margin: 0; }

body {
  font-family: 'arial';
  font-size: 14px;
  margin-top: '14px'; }

nav {
  opacity: 0.5; }

.title-container {
  margin-top: 33%;
  padding: 28px 0;
  background: #000;
  opacity: 0.5; }

.title-container h1 {
  color: #fff; }
